body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    overflow: hidden;
}
#myCanvas{
    background-color: #73c100;
}